{% load i18n %}
<div class="col-12 d-fle">
    <div class="card flex-fill">
        <div class="card-header">
            {% include 'dashboard/common/cardAction.html' %}
            <h5 class="card-title mb-0">{% trans 'Tus últimas solicitudes de prestamos' %}</h5>
        </div>
        <div id="datatables-dashboard-wrapper" class="table-responsive-md">
            <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="datatables-dashboard"
                           class="table table-striped my-0 table-hover card-title">
                        <thead>
                        <tr scope="row md-3">
                            <th>{% trans 'Implemento' %}</th>
                            <th>{% trans 'Fecha Inicio' %}</th>
                            <th>{% trans 'Fecha Final' %}</th>
                            <th>{% trans 'Estado' %}</th>
                            <th>{% trans 'Auxiliar Asignado' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr scope="row">
                            <td>Macbook</td>
                            <td>02/06/2020</td>
                            <td>03/06/2020</td>
                            <td><span class="badge badge-success">{% trans 'Prestado' %}</span>
                            </td>
                            <td>Juan Pablo Ardila
                            </td>
                        </tr>
                        <tr scope="row">
                            <td>{% trans 'Teclado logitech' %}</td>
                            <td>03/06/2020</td>
                            <td>04/06/2020</td>
                            <td><span class="badge badge-danger">{% trans 'Cancelado' %}</span>
                            </td>
                            <td>Santiago Vargas</td>
                        </tr>
                        <tr scope="row">
                            <td>{% trans 'Mouse logitech' %}</td>
                            <td>07/06/2020</td>
                            <td>10/06/2020</td>
                            <td><span class="badge badge-success">{% trans 'Prestado' %}</span>
                            </td>
                            <td>Sebastian Ordoñez
                            </td>
                        </tr>
                        <tr scope="row">
                            <td>Macbook</td>
                            <td>12/06/2020</td>
                            <td>12/06/2020</td>
                            <td><span class="badge badge-warning">{% trans 'En progreso' %}</span>
                            </td>
                            <td>Juan Pablo Ardila
                            </td>
                        </tr>
                        <tr scope="row">
                            <td>{% trans 'Teclado logitech' %}</td>
                            <td>11/06/2020</td>
                            <td>11/06/2020</td>
                            <td><span class="badge badge-success">{% trans 'Prestado' %}</span>
                            </td>
                            <td>Santiago Gomez</td>
                        </tr>
                        <tr scope="row">
                            <td>Ipad</td>
                            <td>31/06/2020</td>
                            <td>01/07/2020</td>
                            <td><span class="badge badge-success">{% trans 'Prestado' %}</span>
                            </td>
                            <td>Sebastian Ordoñez
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
