{% load static %}
{% load i18n %}
<nav id="sidebar" class="sidebar">
    <a class="sidebar-brand" href="#">
        <img src="{% static "img/logo.png" %}" alt="Andromeda">
    </a>
    <div class="sidebar-content">
        <ul class="sidebar-nav">
            <li class="sidebar-header">Home</li>
            <li class="sidebar-item active">
                <a href="{% url 'dashboard:auxiliary' %}" class="sidebar-link" aria-expanded="false">
                    <i class="fa-fw fas fa-home"></i>
                    <span class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-header">{% trans 'Soporte Tecnico' %}</li>
            <li class="sidebar-item">
                <a href="#request" data-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                    <i class="fa-fw fas fa-check-square"></i>
                    <span class="align-middle">{% trans 'Solicitudes' %}</span>
                </a>
                <ul id="request" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'dashboard:create_support_auxiliary' %}">{% trans 'Crear solicitud' %}</a>
                        <a class="sidebar-link" href="#">{% trans 'Control de solicitudes' %}</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">{% trans 'Calendario' %}</li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link" aria-expanded="false">
                    <i class="fa-fw fas fa-calendar-alt"></i>
                    <span class="align-middle">{% trans 'Calendario' %}</span>
                </a>
            </li>
            <li class="sidebar-header">{% trans 'Préstamos Tecnologicos' %}</li>
            <li class="sidebar-item">
                <a href="#prestamo" data-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                    <i class="fa-fw fas fa-laptop"></i>
                    <span class="align-middle">{% trans 'Préstamos' %}</span>
                </a>
                <ul id="prestamo" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">{% trans 'Agendar préstamo' %}</a>
                        <a class="sidebar-link" href="#">{% trans 'Control de préstamos' %}</a>
                        <a class="sidebar-link" href="#">{% trans 'Calendario de préstamos' %}</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">{% trans 'Inventario Tecnologico' %}</li>
            <li class="sidebar-item">
                <a href="#inventory" data-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                    <i class="fa-fw fas fa-boxes"></i>
                    <span class="align-middle">{% trans 'Inventario' %}</span>
                </a>
                <ul id="inventory" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href={% url 'dashboard:inventory_auxiliary' %}>{% trans 'Gestionar inventario' %}</a>
                        <a class="sidebar-link" href={% url 'dashboard:create_inventory_auxiliary' %}>{% trans 'Agregar implemento' %}</a>
                        <a class="sidebar-link" href="#">{% trans 'Consultar inventario' %}</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-header">{% trans 'Mantenimiento de equipos' %}</li>
            <li class="sidebar-item">
                <a href="#maintenance" data-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
                    <i class="fa-fw fas fa-tools"></i>
                    <span class="align-middle">{% trans 'Mantenimiento' %}</span>
                </a>
                <ul id="maintenance" class="sidebar-dropdown list-unstyled collapse" data-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">{% trans 'Gestionar mantenimientos' %}</a>
                        <a class="sidebar-link" href="#">{% trans 'Agregar mantenimiento' %}</a>
                        <a class="sidebar-link" href="#">{% trans 'Calendario de mantenimientos' %}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>