<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-8 text-left">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Soporte</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Privacidad</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Términos y Condiciones</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-right">
                <p class="mb-0">
                    © 2020 - <a href="#" class="text-muted">Andromeda</a>
                </p>
            </div>
        </div>
    </div>
</footer>