{% extends "base.html" %}
{% block title %}
    <title>Administrador | Andromeda</title>
{% endblock %}

{% block main %}
    <div class="wrapper">
        {% include "dashboard/roles/administrator/layout_admin/navbarLeft.html" %}
        <div class="main">
            {% url "dashboard:detail_admin" request.user.username as url_detail %}
            {% include "dashboard/layout/navbarTop.html" with user_detail=url_detail %}
            {% block content %}
            {% endblock %}
            {% include "dashboard/layout/footer.html" %}
        </div>
    </div>
{% endblock %}