@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap);
/* --------------------------------------------- Media responsive -------------------------------------*/
@media (min-width: 992px) {
  .mb-lg-8, .my-lg-8 {
    margin-bottom: 3rem !important; } }

@media (max-width: 991.98px) {
  .display-3 {
    font-size: 2.25rem !important; }
  .typed-react {
    height: 35px !important; } }

@media (min-width: 768px) {
  .mw-md-150 {
    max-width: 130% !important; }
  .pt-md-12, .py-md-12 {
    padding-top: 8rem !important; }
  .pt-md-11 {
    padding-top: 6rem !important; }
  .screenshot {
    box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, 0.3), 16px 40px 75px -40px rgba(0, 0, 0, 0.12); } }

@media (max-width: 768px) {
  .btn-andromeda {
    width: 100% !important; }
  .bg-us {
    height: 80vh; }
  .pt-5 {
    padding-bottom: 100px; } }

@media (max-width: 400px) {
  #typed {
    height: 30px !important; }
  .pt-10 {
    padding-top: 20rem !important; } }

@media (max-width: 992px) {
  #typed {
    height: 30px !important; }
  .pt-10 {
    padding-top: 5rem !important; } }

@media (max-width: 360px) {
  .pt-10 {
    padding-top: 15rem !important; } }

body::-webkit-scrollbar {
  width: 0.40rem; }

body::-webkit-scrollbar-track {
  background: #001f3f; }

body::-webkit-scrollbar-thumb {
  background: #26272C; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 44px !important;
  line-height: 54px; }

h3 {
  font-size: 33px !important;
  line-height: 42px !important;
  margin-bottom: 12px !important; }

p {
  font-size: 18px; }

.pt-10, .py-10 {
  padding-top: 10rem !important; }

.typed-cursor {
  display: none; }

.typed-react {
  height: 70px; }

.fa-check {
  color: #083358;
  margin-right: 10px; }

.brand-andromeda img {
  width: 200px;
  display: block;
  margin: auto; }

.main-header img {
  width: 400px; }

#home .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both; }

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

@keyframes up-down {
  0% {
    transform: translateY(10px); }
  100% {
    transform: translateY(-10px); } }

.navbar-brand img {
  width: 80px; }

.nav-link {
  padding: 1rem !important; }

/* ----------------------------------------------- Nosotros -------------------------------------- */
.bg-us {
  background-color: #f3f9fb;
  height: 60vh; }

.screenshot {
  border-radius: .625rem;
  box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, 0.3), 16px 40px 75px -40px rgba(0, 0, 0, 0.35); }

/* -------------------------------------------- Caracteristicas -------------------------------------- */
.image-index img {
  height: auto;
  width: 400px; }

.contact-about .iconos a {
  font-size: 18px;
  display: inline-block;
  background: white;
  color: #083358;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  border: 1px solid #083358; }

.contact-about .iconos a:hover {
  background-color: #012b552c; }

.info .icono {
  color: #083358;
  font-size: 25px;
  margin-right: 5px; }

.info div {
  margin-bottom: 15px; }

.heart {
  color: #ff304f !important; }

#footer {
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #26272C;
  font-size: 14px; }

#footer .footer-links a {
  color: #26272C;
  padding-left: 15px; }

@media (max-width: 991px) and (min-width: 1px) {
  .sidebar {
    margin-left: -250px; }
  .sidebar.toggled {
    margin-left: 0; } }

.card-body .form-group .form-control {
  border-radius: 6px;
  box-shadow: none !important;
  background: white !important;
  color: black !important; }

.card {
  margin-bottom: 1.5rem; }

.card-header {
  margin-bottom: 0;
  background-color: white; }
  .card-header .card-actions a {
    color: #083358;
    text-decoration: none;
    font-size: 1rem; }

.card-title {
  color: #083358;
  font-size: 15px; }

.breadcrumb {
  background-color: transparent;
  padding: 0; }
  .breadcrumb .breadcrumb-item:active {
    color: #fff;
    font-weight: 500; }

.custom-control-label::before {
  content: " ";
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
  background-color: #dee2e6; }

.bg-primary-dark {
  background-color: #2469ce !important; }

.avatar {
  width: 40px;
  height: 40px; }
  .avatar .avatar-title {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    color: white;
    padding-top: 10px; }

.wrapper {
  display: flex;
  width: 100%;
  position: relative;
  align-content: stretch;
  overflow: hidden; }

.wrapper:before {
  content: " ";
  width: 100%;
  height: 264px;
  position: absolute;
  top: 0;
  left: 0;
  background: #083358; }

.rounded-profile {
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important; }

.rounded-circle img {
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important; }

.userDropdown {
  color: white !important; }

.content {
  margin-top: 3rem;
  padding: 0 .5rem; }

.header {
  margin-bottom: 3rem;
  position: relative;
  color: white; }

.dropdown-item .notify-icon {
  float: left;
  text-align: center;
  margin-right: 10px; }

.dropdown-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.dropdown-item .message {
  white-space: normal;
  margin-left: 45px;
  line-height: 16px; }

.dropdown-item:active {
  background-color: #f8f9fa !important;
  color: #26272C !important; }

.flags-icon {
  margin-right: .3rem !important; }
  .flags-icon img {
    height: 12px; }

.dropdown-item {
  display: block;
  padding: .35rem 1.5rem;
  color: #495057;
  text-align: inherit;
  background-color: transparent; }
  .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: white; }
  .dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: #3b7ddd; }

.navbar .form-control {
  background: transparent;
  color: white;
  border: 0;
  box-shadow: none; }

.col-xxl-9 {
  flex: 100%;
  max-width: 100%; }

.error_image img {
  padding-top: 150px;
  width: 100vh;
  display: block;
  margin: auto; }

.sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: margin-left .3s ease-in-out, left .3s ease-in-out, margin-right .3s ease-in-out, right .3s ease-in-out;
  background: white;
  border-right: 0;
  z-index: 1; }

.sidebar.toggled {
  margin-left: -250px; }

.sidebar-brand {
  padding: 1rem;
  background: #083358;
  display: block; }
  .sidebar-brand img {
    width: 170px; }

.sidebar-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  background: white; }

.sidebar-header {
  background: transparent;
  color: #adb5db;
  padding: .375rem 1.5rem;
  font-size: .75rem;
  text-transform: uppercase;
  margin-top: 1rem !important; }

.sidebar-item.active .sidebar-link {
  color: #26272C;
  background: #e9ecef; }

.sidebar [data-toggle=collapse] {
  position: relative; }
  .sidebar [data-toggle=collapse]:before {
    content: " ";
    border: solid;
    border-width: 0 .1rem .1rem 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    position: absolute;
    top: 1.2rem;
    right: 1.25rem;
    transition: all .2s ease-out; }

a.sidebar-link {
  display: block;
  padding: .65rem .75rem;
  margin: 0 .5rem;
  color: #6c757d;
  font-weight: 400;
  background: transparent;
  border-radius: .2rem;
  transition: background .1s ease-in-out;
  position: relative;
  text-decoration: none !important;
  cursor: pointer; }
  a.sidebar-link:hover {
    color: #212529;
    background: white; }

.sidebar [aria-expanded=true]:before, .sidebar [data-toggle=collapse]:not(.collapsed):before {
  transform: rotate(45deg); }

.sidebar-dropdown .sidebar-link {
  padding: .35rem 1.5rem .35rem 2.75rem;
  margin: 0 .5rem;
  font-weight: 400;
  font-size: 90%; }

.sidebar-link .fa-fw {
  color: #083358; }

.fa-bars {
  color: white !important;
  font-size: 25px !important;
  position: relative; }

.sidebar-toggle {
  cursor: pointer;
  margin-left: .5rem; }

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #e9ecef; }

/* -------------------------------------------- Generals ---------------------------*/
* {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif; }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  overflow-x: hidden; }

ul {
  list-style: none; }

.text-andromeda {
  color: #083358 !important; }

.btn-outline-primary {
  padding: 13px 20px !important;
  border-radius: 50px !important;
  border-color: #083358 !important;
  color: #083358 !important;
  box-shadow: 0 8px 24px rgba(28, 99, 205, 0.35) !important;
  transition: transform .3s, box-shadow .3s !important; }
  .btn-outline-primary:hover {
    background-color: #001f3f !important;
    color: white !important;
    transform: translateY(-5px); }

.btn-andromeda {
  background-color: #083358 !important;
  color: white !important;
  padding: 13px 20px !important;
  font-size: 17px !important;
  border-radius: 50px !important;
  border: 0 !important; }
  .btn-andromeda:hover {
    background-color: #001f3f !important;
    color: white; }

.fa-fw {
  text-align: center;
  width: 1.25em;
  margin-right: .3rem !important;
  vertical-align: middle !important; }

.form-group {
  width: auto; }

.swal-button--login {
  background-color: #083358; }
  .swal-button--login:hover {
    background-color: #001f3f !important; }

.swal-button--confirm {
  background-color: #b73d3d; }
  .swal-button--confirm:hover {
    background-color: #f31616 !important; }

