{% extends "dashboard/administrator/layout_admin/layout.html" %}
{% load static %}
{% block content %}
    <main class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Crear Usuario
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url "dashboard:administrator" %}>Inicio</a></li>
                        <li class="breadcrumb-item"><a href={% url "dashboard:list_users" %}>Lista de usuarios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Crear Usuario</li>
                    </ol>
                </nav>
            </div>
            <!-- Inicio de registro de usuario -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Registrar Usuario</h5>
                            <h6 class="card-subtitle text-muted">
                                No olvide completar todos los campos requeridos
                            </h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="card-body formulario">
                            <div class="row">
                                {% if error %}
                                    <p class="alert alert-danger text-center">{{ error }}</p>
                                {% endif %}
                                <form class="col-12 col-sm-7 col-lg-6 offset-sm-3 offset-lg-3 needs-validation"
                                      name="form" method="POST" action="{% url 'dashboard:list_users' %}">
                                    {% csrf_token %}
                                    <div class="form-group text-andromeda">
                                        <label for="FullName">Nombres</label>
                                        <input type="text" class="form-control text-andromeda" id="name"
                                               placeholder="Ingrese el nombre completo" name="name" required="true">
                                    </div>
                                    <div class="form-group text-andromeda">
                                        <label for="FullName">Apellidos</label>
                                        <input type="text" class="form-control text-andromeda" id="last_name"
                                               placeholder="Ingrese el nombre completo" name="last_name"
                                               required="true">
                                    </div>
                                    <div class="form-group text-andromeda">
                                        <label for="Email">Correo Electronico</label>
                                        <input type="email" class="form-control" id="Email"
                                               aria-describedby="email" name="email"
                                               placeholder="Ingrese Correo Electronico" required="true">
                                    </div>

                                    <div class="form-group text-andromeda">
                                        <label for="Password">Contraseña</label>
                                        <input type="password" class="form-control" id="Password"
                                               placeholder="Contraseña" name="password" required="true">
                                        <small id="passwordHelpInline" class="text-muted">
                                            Entre 8-20 caracteres.
                                        </small>
                                    </div>

                                    <div class="form-group text-andromeda">
                                        <label for="PasswordRepeat">Confirmar contraseña</label>
                                        <input type="password" class="form-control" id="PasswordRepeat"
                                               placeholder="Confirmar contraseña" name="passwordRepeat" required="true">
                                    </div>

                                    <div class="form-group text-andromeda">
                                        <label for="Rol">Rol del usuario</label>
                                        <select id="Rol" class="form-control" name="area" required="true">
                                            <option selected>Profesor</option>
                                            <option>Administrativo</option>
                                            <option>Auxiliar de Sistemas</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-andromeda mt-4 mb-5 btn-block">
                                        Crear Usuario
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin del registro de usuario -->
        </div>
    </main>
{% endblock %}