{% extends "dashboard/roles/administrator/layout_admin/layout.html" %}
{% load static %}
{% block content %}
    <main class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Lista de Usuarios
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url "dashboard:administrator" %}>Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Usuarios Registrados</h5>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"role="alert"
                                    {% endif %}>
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="user-control table-responsive">
                                <table class="table table-hover table-bordered table-striped mb-0 text-center">
                                    <thead>
                                    <tr class="main-table">
                                        <td>#</td>
                                        <td>Nombres</td>
                                        <td>Apellidos</td>
                                        <td>Correo Electronico</td>
                                        <td>Creado</td>
                                        <td>Perfil</td>
                                        <td>Rol</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in user_list %}
                                        <tr>
                                            <td>{{ user.pk }}</td>
                                            <td>{{ user.first_name }}</td>
                                            <td>{{ user.last_name }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.date_joined }}</td>
                                            <td>
                                                <a href="{% url  'dashboard:detail_admin' user.username %}">{{ user.username }}</a>
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-info">{{ user.tblperfil.posicion }}</span>
                                            </td>
                                            {% if user == request.user %}
                                                <td>
                                                    <span class="badge badge-success">Usuario actual</span>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <a href="{% url 'dashboard:update_user' user.pk %}"
                                                       class="btn text-secondary px-0">
                                                        <i class="far fa-edit fa-lg"></i>
                                                    </a>
                                                    <a href="{% url 'users:delete' user.pk %}" class="btn">
                                                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% include 'dashboard/common/pagination.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}