{% load static %}
<div class="card flex-fill w-100">
    <div class="card-header">
        {% include "dashboard/administrator/cardAction.html" %}
        <h5 class="card-title mb-0 text-andromeda">Análisis de servicios prestados por auxiliares</h5>
    </div>
    <div class="card-body py-3">
        <div class="chart chart-sm">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <div class="monitor-analitics">
                <hr/>
                <canvas id="analisis"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/chart.js' %}"></script>