{% load i18n %}
<div class="card-actions float-right">
    <a href="#" class="mr-1">
        <i class="fas fa-sync"></i>
    </a>
    <div class="d-inline-block dropdown show">
        <a href="#" data-toggle="dropdown" data-display="static">
            <i class="fas fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">{% trans 'Solicitudes' %}</a>
            <a class="dropdown-item" href="#">{% trans 'Reporte' %}</a>
            <a class="dropdown-item" href="#">{% trans 'Ocultar' %}</a>
        </div>
    </div>
</div>