{% extends "dashboard/administrator/layout_admin/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="content">
        <div class="container-fluid">
            <h1 class="h3 mb-3">Perfil</h1>
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Detalles del perfil</h5>
                        </div>
                        <div class="card-body text-center account-user-avatar">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <img src="{{ user.tblperfil.picture.url }}" alt="Avatar" width="128" height="128"
                                 class="rounded-circle"/>
                            <h5 class="card-title mb-3">{{ user.first_name }} {{ user.last_name }}</h5>
                            <div>
                                {% if user == request.user %}
                                    <a class="btn btn-outline-info btn-sm" href="{% url 'users:update' %}">Editar
                                        perfil</a>
                                {% else %}
                                    <a class="btn btn-primary btn-sm" href="#">Mensaje</a>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <h5 class="h6 card-title">Sobre mi</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <i class="fas fa-globe detail-icons"></i>Es de
                                    <a class="aligned-middle" href="#">Colombia</a>
                                </li>
                                <li class="mb-1">
                                    <i class="fas fa-briefcase detail-icons"></i>Trabaja como
                                    <a class="aligned-middle" href="#">{{ user.tblperfil.posicion }}</a>
                                </li>
                                <li class="mb-1"></li>
                            </ul>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <h5 class="h6 card-title">Redes Sociales</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <i class="fab fa-twitter detail-icons"></i>
                                    <a class="aligned-middle" href="#">Twitter</a>
                                </li>
                                <li class="mb-1">
                                    <i class="fab fa-linkedin-in detail-icons"></i>
                                    <a class="aligned-middle" href="#">Linkedin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-9">
                    <div class="card">
                        <div class="card-header">
                            {% include 'dashboard/common/cardAction.html' %}
                            <div class="card-title h-100">Actividades</div>
                        </div>
                        <div class="card-body h-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
