{% extends "dashboard/administrator/layout_admin/layout.html" %}
{% load static %}
{% block content %}
    <main class="content">
        <div class="container-fluid">
            <h1 class="h3 mb-3">Perfil</h1>
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Detalles del perfil</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="https://lh3.googleusercontent.com/ogw/ADGmqu--wOsPaeFjuMvZdmZsvhD9xMjhkjePYFM2e7P1=s192-c-mo"
                                 alt="Avatar" class="img-fluid rounded-circle mb-2"/>
                            <h5 class="card-title mb-3">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                            <div>
                                <a class="btn btn-primary btn-sm" href="#">Editar perfil</a>
                                <a class="btn btn-outline-info btn-sm" href="#">Mensaje</a>
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <h5 class="h6 card-title">Sobre mi</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <i class="fas fa-globe detail-icons"></i>Es de
                                    <a class="aligned-middle" href="#">Colombia</a>
                                </li>
                                <li class="mb-1">
                                    <i class="fas fa-briefcase detail-icons"></i>Trabaja en
                                    <a class="aligned-middle" href="">Sistemas</a>
                                </li>
                                <li class="mb-1"></li>
                            </ul>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <h5 class="h6 card-title">Redes Sociales</h5>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-1">
                                    <i class="fab fa-twitter detail-icons"></i>
                                    <a class="aligned-middle" href="#">Twitter</a>
                                </li>
                                <li class="mb-1">
                                    <i class="fab fa-linkedin-in detail-icons"></i>
                                    <a class="aligned-middle" href="#">Linkedin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-9">
                    <div class="card">
                        <div class="card-header">
                            {% include 'dashboard/common/cardAction.html' %}
                            <div class="card-title h-100">Actividades</div>
                        </div>
                            <div class="card-body h-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
