{% extends "base.html" %}
{% block title %}
    <title>Login | Andromeda</title>
{% endblock %}

{% load static %}

{% block main %}
    <section class="container-fluid ">
        <div class="row">
            <div class="d-none d-md-block col-12 col-md col-lg-6 d-md-block" id="image__login"
                 style="background-image: url(../../static/img/cgb5.png);
            background-size: cover;
            height: 100vh;">
            </div>
            <div class="col pt-5 brand-andromeda">
                <img src="{% static "img/logo_azul.png" %}" alt="">
                {% if error %}
                    <p class="alert alert-danger text-center">{{ error }}</p>
                {% endif %}
                <form class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-3" method="POST"
                      action="{% url "users:login" %}" novalidate>
                    {% csrf_token %}
                    <p class="text-left">¿Aún no tienes cuenta?
                        <a class="text-andromeda" href={% url "users:signup" %}>Registrate</a></p>
                    <div class="form-group text-andromeda">
                        <label for="InputEmail">Correo electrónico</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                               placeholder="Ingrese el correo electronico" required name="email">
                        <small id="email" class="form-text text-muted">¡Nunca compartas tú correo electrónico!</small>
                    </div>
                    <div class="form-group text-andromeda">
                        <label for="InputPassword">Contraseña</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Contraseña"
                               required name="password">
                    </div>
                    <div class="form-group mb-4">
                        <button type="submit" class="btn btn-andromeda mt-2 btn-block">Ingresar</button>
                    </div>

                    <div class="custom-control custom-checkbox text-center text-andromeda">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Recordar datos</label>
                    </div>
                </form>
                <div class="abajo text-center mt-3 ">
                    <a class="text-andromeda" href="#"><u>¿Olvidaste tu contraseña?</u></a>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
