{% extends "base.html" %}
{% block title %}
    <title>Login | Andromeda</title>
{% endblock %}

{% load static %}

{% block main %}
<body>

    <!-- Inicio de login -->
    <section class="container-fluid ">
        <div class="row">
            <div class="d-none d-md-block col-12 col-md col-lg-6 d-md-block" id="image__login" 
            style="background-image: url(../../static/img/cgb5.png);
            background-size: cover;
            height: 100vh;" >
                
            </div>
            <!-- Logo -->
            <div class="col pt-5 brand-andromeda">
                <img src="{% static "img/logo_azul.png" %}" alt="">
    
                <!-- Inicio de Formulario -->
                <form class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-3 needs-validation" novalidate>
                    <div class="form-group text-andromeda">
                        <label for="InputEmail">Correo electrónico</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                               placeholder="Ingrese el correo electronico" required>
                        <small id="email" class="form-text text-muted">¡Nunca compartas tú correo electrónico!</small>
                    </div>
    
                    <div class="form-group text-andromeda">
                        <label for="InputPassword">Contraseña</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Contraseña" required>
                    </div>
    
                    <div class="form-check text-andromeda">
                        <input type="checkbox" class="form-check-input" id="Check1">
                        <label class="form-check-label" for="Check1">Recordarme</label>
                    </div>
    
                    <button type="submit" class="btn btn-andromeda mt-2 btn-block">Ingresar</button>
    
                </form>
                <!-- Fin de Formulario -->
    
                <!-- Texto opcional -->
                <div class="abajo text-center mt-3 ">
                    <a class="text-andromeda" href="recovery.html">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="boton text-center pt-3">
                    <span class="text-muted">¿Aún no tienes cuenta? </span>
                    <a class="text-andromeda" href="signup.html">Registrate</a>
                </div>
            </div>
        </div>
    </section>
    <!--<link rel="stylesheet" href="dashboard/empleado/empleado.html">-->
    <!-- Fin de iniciar sesion -->
    
  
    </body>
{% endblock %}
