{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Registro | Andromeda</title>
{% endblock %}

{% load static %}
{% load crispy_forms_tags %}

{% block main %}
    <section class="container-fluid ">
        <div class="row">
            <div class="col brand-andromeda">
                <img src="{% static "img/logo_azul.png" %}" alt="">
                {% if error %}
                    <p class="alert alert-danger text-center">{{ error }}</p>
                {% endif %}
                <form class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 pt-3"
                      method="POST" action="{% url 'users:signup' %}" autocomplete="off">
                    {% csrf_token %}
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.username|as_crispy_field }}
                    <div class="form-group">
                        <label for="passwordRepeat">Contraseña*</label>
                        <input type="password" class="form-control" id="passwordRepeat"
                               name="password" required="true">
                    </div>
                    <div class="form-group">
                        <label for="passwordRepeat">Confirmar contraseña*</label>
                        <input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat"
                               placeholder="Confirmar contraseña" required="true">
                    </div>
                    {{ position_form.posicion|as_crispy_field }}
                    <div class="form-group pb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Acepto Términos de Servicio y Politicas de Privacidad
                            </label>
                            <div class="invalid-feedback">
                                Debes aceptar los Terminos y Condiciones
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-andromeda mt-2 mx-auto btn-block">Crear mi cuenta</button>
                </form>
                <div class="abajo text-center mt-3 ">
                    <span class="text-muted">¿Ya tienes una cuenta?</span>
                    <a class="text-andromeda" href={% url "users:login" %}>Inicia tu Sesión</a>
                </div>
            </div>
            <div class="d-none d-md-block col-12 col-md col-lg-6 d-md-block" id="image__signup"
                 style="background-image: url(../../static/img/cgb6.jpeg);
            background-size: cover;
            height: 108vh;">
            </div>
        </div>
    </section>
{% endblock %}
