{% extends "dashboard/administrator/layout_admin/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Modificar Usuario
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url "dashboard:administrator" %}>Inicio</a></li>
                        <li class="breadcrumb-item"><a href={% url "dashboard:list_users" %}>Lista de usuarios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Modificar usuario</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Modificar Usuario</h5>
                            <h6 class="card-subtitle text-muted">
                                No olvide completar todos los campos requeridos
                            </h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="card-body formulario">
                            <div class="row">
                                {% if form.errors %}
                                    <p class="alert alert-danger text-center">{{ form.errors }}</p>
                                {% endif %}
                                <form action="{% url 'users:update' user.pk %}" method="POST">
                                    {% csrf_token %}
                                    <div class="media">
                                        {% if user.tblprofile.picture %}
                                            <img src="{{ user.tblperfil.picture.url }}"
                                                 alt="Avatar" width="128" height="128"/>
                                        {% else %}
                                            <img src="{% static 'img/default-profile.png' %}" alt="Avatar" width="128"
                                                 height="128">
                                        {% endif %}

                                        <div class="media-body">
                                            <h5>{{ user.username }}</h5>
                                            <h6>{{ user.get_full_name }}</h6>
                                            <p>{{ user.tblperfil.posicion }}</p>
                                            <p><a href=""></a>Actualizar foto de perfil</p>
                                        </div>
                                    </div>
                                    {% if form.errors %}
                                        <p class="alert alert-danger">{{ form.errors }}</p>
                                    {% endif %}

                                    {{ form.first_name|as_crispy_field }}
                                    {{ form.last_name|as_crispy_field }}
                                    {{ form.username|as_crispy_field }}
                                    <button class="btn btn-primary" type="submit">
                                        Actualizar usuario
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}