{% extends "dashboard/roles/employee/layout_employee/layout.html" %}
{% load static %}
{% load i18n %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/wizard.css" %}">
{% endblock %}

{% block content %}
    <main class="content">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    {% trans 'Crear servicio' %}
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href={% url "dashboard:administrator" %}>{% trans 'Inicio' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Crear servicio' %}</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{% trans 'Soporte tecnico' %}</h5>
                        </div>
                        <div class="card-body justify-content-center">
                            <div class="col-xl col-lg col-md">
                                <h3 class="heading">{% trans 'Solicitar Servicio' %}</h3>
                                <p class="desc">
                                    {% blocktranslate trimmed %}
                                    Por favor especifica tu problema lo mejor posible
                                    {% endblocktranslate %}
                                </p>
                                <ul id="progressbar" class="text-center">
                                    <li class="active step0" id="step1"></li>
                                    <li class="step0" id="step2"></li>
                                    <li class="step0" id="step3"></li>
                                    <li class="step0" id="step4"></li>
                                </ul>
                                <form action="">
                                    <fieldset class="show">
                                        <div class="form-card">
                                            <h5 class="sub-heading">{% trans 'Confirma el tipo de servicio' %}</h5>
                                            <div class="row d-flex justify-content-center px-1 radio-group">
                                                <div class="card-block text-center radio col-xl-5 col-lg-6 col-md-7">
                                                    <div class="image-icon">
                                                        <input type="checkbox" name="support_immediate" value="1">
                                                        <img class="icon icon1 img-fluid"
                                                             src="{% static 'img/maintenance.png' %}"
                                                             alt=" Soporte Tecnico">
                                                    </div>
                                                    <p class="sub-desc">
                                                        {% blocktranslate trimmed %}
                                                        Soporte Tecnico Inmediato
                                                        {% endblocktranslate %}
                                                    </p>
                                                </div>
                                                <div class="card-block text-center radio col-xl-5 col-lg-6 col-md-7">
                                                    <div class="image-icon">
                                                        <input type="checkbox" name="support_calendar" value="2">
                                                        <img class="icon icon1 fit-image img-fluid"
                                                             src="{% static 'img/calendar.png' %}"
                                                             alt=" Prestamos tecnologico">
                                                    </div>
                                                    <p class="sub-desc">
                                                        {% blocktranslate trimmed %}
                                                        Agendar Soporte Tecnico
                                                        {% endblocktranslate %}
                                                    </p>
                                                </div>
                                            </div>
                                            <button id="next1" class="btn-block btn-primary mt-3 mb-1 next"
                                                    type="button">{% trans 'Siguiente' %}
                                                <span class="float-right mt-1 fas fa-long-arrow-alt-right"></span>
                                            </button>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <h5 class="sub-heading mb-4">{% trans 'Información de soporte' %}</h5> <label
                                                class="text-danger mb-3">*
                                            Required</label>
                                            <div class="form-group">
                                                <label class="form-control-label">{% trans 'Nombres * :' %}</label>
                                                <input type="text" id="fname" name="name" placeholder=""
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">{% trans 'Apellidos * :' %}</label>
                                                <input type="text" id="lname" name="last_name" placeholder=""
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">{% trans 'Correo electronico* :' %}</label>
                                                <input type="text" id="email" name="username" placeholder=""
                                                       class="form-control"></div>
                                            <div class="form-group">
                                                <label class="form-control-label">{% trans 'Tipo de problema * :' %}</label>
                                                <div class="select mb-3">
                                                    <select name="shred-info" class="form-control">
                                                        <option selected>{% trans 'Escoge tu problema' %}</option>
                                                        <option value="1">{% trans 'Falla de internet' %}</option>
                                                        <option value="2">{% trans 'No funciona el Video Beam' %}</option>
                                                        <option value="3">{% trans 'Falla de Sonido' %}</option>
                                                        <option value="4">{% trans 'Error de computador' %}</option>
                                                        <option value="5">{% trans 'Otro' %}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label">{% trans 'Lugar para soporte * :' %}</label>
                                                <input type="text" id="lugar" name="lugar" class="form-control">
                                            </div>
                                            <button id="next2" type="button"
                                                    class="btn-block btn-primary mt-3 mb-1 next mt-4">
                                                {% trans 'Siguiente' %}
                                                <span class="float-right mt-1 fas fa-long-arrow-alt-right"></span>
                                            </button>
                                            <button type="button" class="btn-block btn-secondary mt-3 mb-1 prev">
                                                <span class="float-left mt-1 fas fa-long-arrow-alt-left"></span>
                                                {% trans 'Atras' %}
                                            </button>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <h5 class="sub-heading mb-4">{% trans 'Especificación de problema' %}</h5>
                                            <div class="form-group">
                                                <label for="Textarea">
                                                    {% blocktranslate trimmed %}
                                                    Por favor especifica tu problema lo mejor
                                                    posible
                                                    {% endblocktranslate %}
                                                </label>
                                                <textarea class="form-control" id="Textarea" rows="3"></textarea>
                                            </div>
                                            <button id="next3" class="btn-block btn-primary mt-3 mb-1 next mt-4"
                                                    type="submit">
                                                {% trans 'Enviar solicitud' %}
                                                <span class="float-right mt-1 far fa-paper-plane"></span>
                                            </button>
                                            <button type="button" class="btn-block btn-secondary mt-3 mb-1 prev">
                                                <span class="float-left mt-1 fas fa-long-arrow-alt-left"></span>
                                                {% trans 'Atras' %}
                                            </button>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-card">
                                            <div class="alert alert-success" role="alert">
                                                <h4 class="alert-heading">{% trans 'Solicitud enviada con exito!' %}</h4>
                                                <p>
                                                    {% blocktranslate trimmed %}
                                                    Gracias por contactar con el area de Sistemas
                                                    {% endblocktranslate %}
                                                </p>
                                                <hr>
                                                <p class="mb-0">
                                                    {% blocktranslate trimmed %}
                                                    En un momento un auxiliar del area atendera tu
                                                    solicitud
                                                    {% endblocktranslate %}
                                                </p>
                                            </div>
                                            <div class="check">
                                                <img class="fit-image check-img"
                                                     src="https://i.imgur.com/QH6Zd6Y.gif"
                                                     alt="success">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let current_fs, next_fs, previous_fs;
            $(".next").click(function () {
                const str1 = "next1";
                const str2 = "next2";
                const str3 = "next3";

                const val2 = !str2.localeCompare($(this).attr('id'));

                const val3 = !str3.localeCompare($(this).attr('id'));

                if (!str1.localeCompare($(this).attr('id')) || (!str2.localeCompare($(this).attr('id'))) || (!str3.localeCompare($(this).attr('id')))) {
                    current_fs = $(this).parent().parent();
                    next_fs = $(this).parent().parent().next();

                    $(current_fs).removeClass("show");
                    $(next_fs).addClass("show");

                    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                    current_fs.animate({}, {
                        step: function () {

                            current_fs.css({
                                'display': 'none',
                                'position': 'relative'
                            });

                            next_fs.css({
                                'display': 'block'
                            });
                        }
                    });
                }
            });
            $(".prev").click(function () {
                current_fs = $(this).parent().parent();
                previous_fs = $(this).parent().parent().prev();
                $(current_fs).removeClass("show");
                $(previous_fs).addClass("show");
                $("#progressbar li").eq($("fieldset").index(next_fs)).removeClass("active");
                current_fs.animate({}, {
                    step: function () {
                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({
                            'display': 'block'
                        });
                    }
                });
            });
            $('.radio-group .radio').click(function () {
                $(this).toggleClass('selected');
            });
        });
    </script>
{% endblock %}

